body {
    background: url("../images/pillars4.jpg");
    background-size: cover;
}

.jumbotron {
    text-align: center;
}

#locator { position: absolute; visibility: visible; left: 20px; top: 50px; z-index: 200; }

.imag3 {
float: left;
}
.welcome{
    color: cornsilk;
    text-align: center;
}
.card {
    text-align: center;
}
