body {
    background: url("../images/pillars4.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.jumbotron {
    text-align: center;
    background: url("https://image.freepik.com/free-photo/texture-beautiful-sandstone-background-design_55710-827.jpg");
    background-size: cover;
}

#locator { position: absolute; visibility: visible; left: 20px; top: 50px; z-index: 200; }

.imag3 {
float: left;
}
h2{
    color: cornsilk;
    text-align: center;
}
.card {
    text-align: center;
    background-color: darkgoldenrod;
}
.boldee, .interests {
    font-weight: bold;
}
